

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li a {
    color: rgb(66, 58, 116);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.top-bar {
    background-color: rgb(98, 84, 190);  
    color: rgb(255, 255, 255);          
    width: 100%;           
    margin: 0;   
      font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  text-align: left;          
}

h2  {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: large;
  text-align: left;
}


p  {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: small;
  text-align: left;
  width: 20%;
}

ol  {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: small;
  text-align: left;
  width: 20%;
}

footer {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: smaller;
  text-align: left;
}